.carouselControl {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s ease;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.carouselControl:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
